.contents-container {
  background-color: rgb(216, 210, 210);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: gold;
}
.contents-row1 {
  background-color: rgb(112, 109, 109);
  width: 90vh;
  height: auto;
  border-radius: 15px;
}
.contents-column1 {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contents-column2 {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-content {
  width: 4rem;
  margin-right: 20px;
}
.login-content1 {
  font-size: x-large;
  margin-bottom: 10px;
}
.login-content2 {
  font-size: x-large;
  margin-bottom: 10px;
}
.login-content3 {
  font-size: x-large;
}
.elements {
  display: flex;
  align-items: center;
  justify-content: center;
}