nav.header-nav.navbar.navbar-light.bg-light.fixed-top {
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.header-nav {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}
.header-contents {
  background-color: rgb(112, 109, 109);
}
.offcanvasNavbarLabel {
  font-family: "Courier New", Courier, monospace;
}
.offcanvas {
  background-color: red;
  color: blue;
  font-family: "Courier New", Courier, monospace;
  font-size: x-large;
}
.home-link {
  color: blue;
}
