.wrapper {
  background-color: grey;
  padding: 30px;
  border-radius: 10px;
  color: white;
}
.wrapper-raw {
  border-bottom: 1px solid #8a8a8a;
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.wrapper-column {
  display: grid;
  place-items: center;
}
.wrapper-secondary-column {
  display: flex;
  justify-content: space-between;
}
.wrapper-button-column {
  display: flex;
  justify-content: space-between;
}
.wrapper-form-group {
  margin-bottom: 10px;
}
.wrapper-heading {
  display: grid;
  place-items: center;
  color: black;
  font-style: italic;
}